# Maven build
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Java class files
*.class

# Spring Boot specific
*.jar
*.war
*.ear
